.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 350px;
  display: block;
  transition: transform 3s ease-in-out; /* Thêm hiệu ứng chuyển động mượt mà */
}

.carousel-item {
  transition: transform 3s ease-in-out; /* Điều chỉnh tốc độ chuyển động */
}
